logs/*
.DS_Store
config/.DS_Store
lib/.DS_Store
old/.DS_Store
scripts/.DS_Store
tests/.DS_Store
tests/images/.DS_Store
scripts/tests/selenium/wwecom7/desktop/Report
scripts/tests/selenium/wwecom7/mobile/nohup.out
config/database.php
running
*.pyc
